# Ignore Project files
*.idea

# Ignore local nodejs packages
node_modules/
npm-debug.log

# Ignore Desktop Services Store
.DS_Store

#Ignore generated dist files
/dist

#Ignore generated performance metrics
perf/localhost
public
